header {
     padding: 4px 30px;
     background-color: #4b0606;
     border: 2px solid rgb(39, 1, 1);
}
header .navbar-brand img {
     width: 130px;
}
header .navbar-toggler {
     width: auto;
     height: auto;
     background-color: #782525;
     border: none;
}
header .navbar .collapse {
     justify-content: flex-end;
}
header .navbar .nav-link {
     font-size: 1.3em;
     color: #ffffff;
     margin-right: 15px;
     margin: 10px;
}